.App {
    text-align: center;
}



/* body, .sound-wave {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    background-color: #00f7ff;
}

.btn-th { 
    padding: 1rem;
    font-size: 80%;
    /* font-weight: bold; */
    letter-spacing: .1rem;
    border-radius: 5rem;
}

.aw-soundWave {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3.75rem;
    border-top-right-radius: 3.75rem;
}

.boxed-btn3 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
    background: #615CFD;
    color: #fff;
    display: inline-block;
    padding: 12px 33px;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    /* border-radius: 30px; */
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }

/* extra small */

@media (min-width: 365px) {
    .aw-soundWave {
        max-width: 365px;
    }
}

/* small */

@media (min-width: 576px) {
    .aw-soundWave {
        max-width: 400px;
    }
}

/* medium */

@media (min-width: 768px) {
    .aw-soundWave {
        max-width: 500px;
    }
    .d-block {
        height: 26.5rem;
        object-fit: cover;
    }
}


/* large */

@media (min-width: 992px) {
    .aw-soundWave {
        max-width: 700px;
    }
    .d-block {
        height: 28rem;
        object-fit: cover;
    }
}


/* extra large */

@media (min-width: 1140px) {
    .container-fluid {
        max-width: 1140px;
    }
    .d-block {
        height: 32.5rem;
        object-fit: cover;
    }
}

